.dialogs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.avatar {
    width: 1em;
}
.dialogWithMessage {
    display: flex;
    justify-content: space-evenly;
}
.dialog {

}
.dialogsItems {
    padding: 20px;
}
.dialogsItems a {
    color: goldenrod;
    text-decoration: none;
}
.dialogsItems img {
    width: 1em;

}

.active{
    color: white;
}
.messages {
    padding: 20px;
}

.message {
 border: 1px solid salmon;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 5%
;
}
.postBlock {
    padding: 10px;
}